<div [@routerTransition]> 
  <form #celebrityForm="ngForm" novalidate (ngSubmit)="createCelebrity()">
    <p-panel header="Add Celebrity">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Name *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" required name="name" [(ngModel)] = "celebrity.name" #name="ngModel" />
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" *ngIf="name.invalid && name.touched" text="Name is required"></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Address *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" required name="address" [(ngModel)] = "celebrity.address" #address="ngModel"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" *ngIf="address.invalid && address.touched" text="Address is required"></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Mobile *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" required name="mobile" [(ngModel)] = "celebrity.mobile" maxlength="10" pattern="[0-9]+" #mobile="ngModel"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" *ngIf="mobile.invalid && mobile.touched" text="Mobile should be 10 digit unique number."></p-message>
          </div>
        </div>
        
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Password *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="password" required name="password" [(ngModel)] = "celebrity.password" #password="ngModel"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" *ngIf="password.invalid && password.touched" text="Password is required."></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Confirm Password *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="password" required name="confirm_password" [(ngModel)] = "celebrity.confirm_password" #confirmPassword="ngModel"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" *ngIf="confirmPassword.invalid && confirmPassword.touched" text="Confirm Password is required."></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            ADHAR Card Number:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" name="adhar_card" [(ngModel)] = "celebrity.adhar_card"/>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            PAN Card Number:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" name="pan_card" [(ngModel)] = "celebrity.pan_card"/>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button [disabled]="!celebrityForm.valid" pButton type="submit" label="Submit"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </p-panel>
  </form>
</div>