<div [@routerTransition]>
  <form>
    <p-panel header="Change Password">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
       <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Old Password *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text"  placeholder="Required"/>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Password *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text"  placeholder="Required"/>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Confirm Password *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text"  placeholder="Required"/>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button pButton type="submit" label="Submit"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </p-panel>
  </form>
</div>
