<div [@routerTransition]>
  <p-table #dt [value]="bonus" [responsive]="true" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'name'">Celebraty Name<p-sortIcon [field]="'name'"></p-sortIcon></th>
            <th [pSortableColumn]="'amount'">Bonus Amount<p-sortIcon [field]="'amount'"></p-sortIcon></th>
            <th [pSortableColumn]="'dateTime'">Date Time<p-sortIcon [field]="'dateTime'"></p-sortIcon></th>
          </tr>
          <tr>
            <th><input pInputText type="text" class="w-100" (input)="dt.filter($event.target.value, 'name', 'contains')"></th>
            <th><input pInputText type="text" class="w-100" (input)="dt.filter($event.target.value, 'amount', 'contains')"></th>
            <th><input pInputText type="text" class="w-100" (input)="dt.filter($event.target.value, 'dateTime', 'contains')"></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{rowData.name}}</td>
          <td>{{rowData.amount}}</td>
          <td>{{rowData.dateTime}}</td>
        </tr>
      </ng-template>
  </p-table>
</div>
